# PlatformIO
.pio
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json

# Build outputs
build/
bin/
*.exe
*.o
*.a

# Python
__pycache__/
*.pyc

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
